{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('reset_request') }}" >
        <h1>Request password reset</h1>
        <br>
        <p>Please enter your email address and we will send you a link to reset your password</p>

        {{ form.csrf_token }}
        <div class="input-box">
            {{ form.email(placeholder="@Email") }}
            <i class='bx bxs-user-circle'></i>
        </div>

        {{ form.submit(class="btn") }}
    </form>
</div>
{% endblock %}