{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

<!-- Registration form -->
<div class="wrapper">
    <form method="POST" action="">
        <h1>Create new password</h1>
        
    <!-- flash messeges -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{ form.csrf_token }}
        <div class="input-box">
            {{ form.password(placeholder="Password") }}
            <i class='bx bxs-lock'></i>
        </div>
        <div class="input-box">
            {{ form.password2(placeholder="Repeat Password") }}
            <i class='bx bxs-lock'></i>
        </div>
        <hr class="hr gradient">
        <br>
        {{ form.submit(class="btn") }}
    </form>
</div>
{% endblock %}
